# Python Array
- Machine learning learns from data. In terms of Computer, data is stored in memory in the form of binary numbers.
- data comes in different format such as text, numbers, images etc, so each programming language provide different datatypes to handle these data.
- One of the most important datatypes for storing similar data is array.

<img style="float:left; width:300px" src="basic_array.png"/>

In [1]:
# lets define array in python- numpy array
import numpy as np
a=np.array([2,3,4,5,6,7,8,9,24,13,25])

In [2]:
# accesing indiviual element
print(a[1])

3

In [3]:
# acccesing range of element
print(a[2:5])

[4 5 6]

In [4]:
print(a[1:3])

print(a[0:4])

[3 4]
[2 3 4 5]

# Statitical operation on Array
-Mean, Median and Mode

In [5]:
mean=np.mean(a)

In [6]:
mean

9.636363636363637

In [7]:
median= np.median(a)
median

7.0

In [8]:
from scipy import stats
mode=stats.mode(a)
mode

ModeResult(mode=array([2]), count=array([1]))

# Types of Array
- One dimensional array- one shown above is one dimensional array
- Multi-dimensional array- onse show below is multi-dimensional array

<img style="float:left; width:300px" src="2d_array.png"/>

# Syntax to create 2-d array
<img style="float:center" src="create_array.png"/>

In [30]:
# create 1 2-d array
m= np.array([[1,2,3],[3,4,5],[4,5,6]], dtype='float')

In [31]:
# Accessing array element in two dimensional
m

array([[1., 2., 3.],
       [3., 4., 5.],
       [4., 5., 6.]])

In [32]:
m[0:3,1:3]

array([[2., 3.],
       [4., 5.],
       [5., 6.]])

In [33]:
m.dtype

dtype('float64')

# Various function on Array
- arr.shape
- arr.dtype
- arr.mean
- arr.median

# Array Initialization
- with sequantial numbers : np.arrange()
- with zeros: np.zeros(shape)
- with ones: np.ones(shape)
- with random numbers : np.random.ran(shape)
- with identity matrix: np.identity(column)

In [71]:
a=np.array((2,3))

In [73]:
a=np.arange(9)

In [75]:
a.shape

(9,)

In [76]:
a.reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [51]:
# create a 2-d array with arrange function in numpy- arrange function create a seris of number starting from 0
a=np.arange(9).reshape(3,3) # first create an array of nine numbers then reshape it into matrix
b=np.zeros((3,3))
c=np.ones((3,3))*2
d=np.random.rand(3,3)
I=np.identity(3)

In [52]:
# print each of the array
d

array([[0.47312533, 0.39173404, 0.23136943],
       [0.6807063 , 0.31006436, 0.17549755],
       [0.97065368, 0.02557   , 0.91177618]])

In [77]:
I

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Array-vector operation on python
- array addition, subtraction, multiplication
- multiplication by scalar

In [53]:
s=a-c

In [54]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [55]:
c

array([[2., 2., 2.],
       [2., 2., 2.],
       [2., 2., 2.]])

In [56]:
s

array([[-2., -1.,  0.],
       [ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [57]:
mul=a*c

In [58]:
mul

array([[ 0.,  2.,  4.],
       [ 6.,  8., 10.],
       [12., 14., 16.]])

In [59]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [60]:
c

array([[2., 2., 2.],
       [2., 2., 2.],
       [2., 2., 2.]])

In [62]:
mul

array([[ 0.,  2.,  4.],
       [ 6.,  8., 10.],
       [12., 14., 16.]])

In [63]:
mul*3

array([[ 0.,  6., 12.],
       [18., 24., 30.],
       [36., 42., 48.]])

In [64]:
# example of Three- Dimensional array
three=np.ones((2,3,3))

In [65]:
three

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [79]:
string=np.array(['ram','shyam','hari'])

In [ ]:
# Home activities
- Numpy array explorations (https://jakevdp.github.io/PythonDataScienceHandbook/02.02-the-basics-of-numpy-arrays.html)

In [81]:
a= ['ram', 1, "c",234] #list is a collection of any type of data

In [83]:
l=[a,b,c,d,I]

In [84]:
l

[['ram', 1, 'c', 234],
 array([[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]),
 array([[2., 2., 2.],
        [2., 2., 2.],
        [2., 2., 2.]]),
 array([[0.47312533, 0.39173404, 0.23136943],
        [0.6807063 , 0.31006436, 0.17549755],
        [0.97065368, 0.02557   , 0.91177618]]),
 array([[1., 0., 0.],
        [0., 1., 0.],
        [0., 0., 1.]])]