# In this tutorial, we will cover Python collections:
- list
- tuples
- set
- dictinary
    - if time permits, we will also dicsuss pandas data frame

# Properties of collections
- List ordered and changeable. Allows duplicate members.
- Tuple ordered and unchangeable. Allows duplicate members.
- Set unordered and unindexed. No duplicate members.
- Dictionary unordered and changeable. No duplicate members.

# List- one of the dataype used for collection of data
- list is a sequence of elements
- very dynamic datatypes in pythons
- syntax
    Inside [ ] is list

In [61]:
import numpy as np
a=[1,2,3,4,5] # list of numbers
b=[1, 'ram', 2, 'shyam'] # List of number and string
d=np.ones((2,3))
c=[a,b,d] # list of lists

In [64]:
print(b)

[1, 'ram', 2, 'shyam']

In [65]:
print(c)

[[1, 2, 3, 4, 5], [1, 'ram', 2, 'shyam'], array([[1., 1., 1.],
       [1., 1., 1.]])]

In [66]:
c=[d,a,b]
print(c)

[array([[1., 1., 1.],
       [1., 1., 1.]]), [1, 2, 3, 4, 5], [1, 'ram', 2, 'shyam']]

In [69]:
# the keyword list constructor
a=list([1,2,3,4])
print(a)

[1, 2, 3, 4]

# Accessing list elements
- list can be accessed with subscript starting with zero
- negative indexing is allowed which access element from last index i.e. -1 meand last, -2 means second last etc

In [73]:
c

[array([[1., 1., 1.],
        [1., 1., 1.]]),
 [1, 2, 3, 4, 5],
 [1, 'ram', 2, 'shyam']]

In [80]:
type(c[0]),type(c[1]), type(c[2])

(numpy.ndarray, list, list)

# List properties
- changeable:  we can change, add, and remove items in a list after it has been created.
- duplicate allowed
- list item can be of any datatype
- list has various methods built-in

In [82]:
a[2]=5

In [83]:
a

[1, 2, 5, 4]

In [85]:
a[2:]=[6,7]

# List methods
- https://docs.python.org/3/tutorial/datastructures.html

In [110]:
a.append('ram')

In [111]:
a

['ram']

In [112]:
a.extend([1,2,3,4])

In [113]:
a.extend(b)

In [114]:
a

['ram', 1, 2, 3, 4, 1, 'ram', 2, 'shyam']

In [115]:
a.count('ram')

2

In [116]:
len(a)

9

In [117]:
a.insert(1,20)

In [119]:
a.append(30)

In [137]:
a.insert(1,40)

In [142]:
a

['ram', 40, 40, 20, 2]

In [143]:
z=a.pop() # extract and remove from the top of the list

In [144]:
print(a.pop())

20

In [160]:
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.reverse()

In [162]:
print(" reverse list", list1)

 reverse list ['maths', 'chemistry', 'Biology', 'physics']

In [163]:
list1.sort()

In [164]:
list1

['Biology', 'chemistry', 'maths', 'physics']

# Range of index
- similar to python array

In [8]:
a[1:4]=[4,5,6]

In [10]:
a[:4]

[1, 4, 5, 6]

In [11]:
# check if item exist in the given list
item=5
if item in a:
    print(item)

5

 # tuples
-  written in round brackets
-  ordered,unchangeable and allow duplicate.
- https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [223]:
t=("apple", "banana", "cherry")
print(t)

('apple', 'banana', 'cherry')

In [224]:
t="apple", "banana", "cherry"

In [226]:
t[0]='kaggle'

TypeError: 'tuple' object does not support item assignment

In [228]:
l=["apple", "banana", "cherry"]
t=("apple", "banana", "cherry")

In [231]:
l[0]='mango' # change the value of elemnet sicne list is changeable
l

['mango', 'banana', 'cherry']

In [236]:
t[0]='mango' # its not possible to change the element of tuple, since tuple is unchangeable
t

TypeError: 'tuple' object does not support item assignment

In [171]:
# iteration over the tupple
for x in t:
    print(x)

apple
banana
cherry

In [173]:
for item in list1:
    print(item)

Biology
chemistry
maths
physics

*all operations like range of selction, negative indexing, iteration over item is allowed as similar to list*

# Set
- unordered,unidexed and unchangable
- written in curly brackts
- duplicate ignored

In [175]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [176]:
thisset = {"apple", "banana", "cherry", 'banana'}
print(thisset)

{'cherry', 'apple', 'banana'}

In [177]:
# iterate over sets
for x in thisset:
    print(x)

cherry
apple
banana

In [178]:
# add an item on set
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

In [180]:
# add another set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'banana', 'cherry', 'apple', 'pineapple', 'mango'}

In [181]:
# add any iterable- tuple, list, dictinary
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'orange', 'cherry', 'apple', 'banana'}

In [183]:
# remove items
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

# Dictinary in python
- it is a mapping of key and value pairs in the form of table
- it doesn't allow duplicate
- changeable/iterable
- unordered i.e we can't access its item with index

In [220]:
# create a dictinary
thisdict = {
    "model": "Mustang",
    "year": 1964,
    "brand": "Ford",
    "showroom" :"Ford"
}

In [221]:
thisdict

{'model': 'Mustang', 'year': 1964, 'brand': 'Ford', 'showroom': 'Ford'}

In [207]:
thislist=['Mustang', '1964', 'Ford']

In [209]:
for index, value in enumerate(thislist):
    print(index, value)

0 Mustang
1 1964
2 Ford

In [188]:
# dictinary item can be of any data types
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [190]:
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [192]:
thisdict.keys(), thisdict.values()

(dict_keys(['brand', 'electric', 'year', 'colors']),
 dict_values(['Ford', False, 1964, ['red', 'white', 'blue']]))

In [198]:
a[0]=12

In [199]:
a

[12, 40, 40]

In [200]:
sum(a)

92

In [202]:
min(a)

12

# iterable- a strong concept in python programming
- An iterable is any Python object capable of returning its members one at a time, permitting it to be iterated over in a for-loop.
- Familiar examples of iterables include lists, tuples, and strings - any such sequence can be iterated over in a for-loop.

<!-- #region -->
## Functions that act on iterables
Here are some useful built-in functions that accept iterables as arguments:

 - `list`, `tuple`, `dict`, `set`: construct a list, tuple, [dictionary](https://www.pythonlikeyoumeanit.com/Module2_EssentialsOfPython/DataStructures_II_Dictionaries.html), or [set](https://www.pythonlikeyoumeanit.com/Module2_EssentialsOfPython/DataStructures_III_Sets_and_More.html#The-%E2%80%9CSet%E2%80%9D-Data-Structure), respectively, from the contents of an iterable
 - `sum`: sum the contents of an iterable.
 - `sorted`: return a list of the sorted contents of an interable
 - `any`: returns `True` and ends the iteration immediately if `bool(item)` was `True` for *any* item in the iterable.
 - `all`: returns `True` only if `bool(item)` was `True` for *all* items in the iterable.
 - `max`: return the largest value in an iterable.
 - `min`: return the smallest value in an iterable.

```python
# Examples of built-in functions that act on iterables
>>> list("I am a cow")
['I', ' ', 'a', 'm', ' ', 'a', ' ', 'c', 'o', 'w']

>>> sum([1, 2, 3])
6

>>> sorted("gheliabciou")
['a', 'b', 'c', 'e', 'g', 'h', 'i', 'i', 'l', 'o', 'u']

# `bool(item)` evaluates to `False` for each of these items
>>> any((0, None, [], 0))
False

# `bool(item)` evaluates to  `True` for each of these items
>>> all([1, (0, 1), True, "hi"])
True

>>> max((5, 8, 9, 0))
9

>>> min("hello")
'e'
```
<!-- #endregion -->

# Unpacking” iterables

In [203]:
# assigning contents of a list to variables using iterable unpacking
my_list = [7, 9, 11]
x, y, z = my_list
print(x, y, z)

7 9 11

# Enumerating iterables

In [204]:
for entry in enumerate(my_list):
    print(entry)

(0, 7)
(1, 9)
(2, 11)

In [206]:
for index, value in enumerate(my_list):
    print(index)

0
1
2

## Links to Official Documentation
- [Iterable Definition](https://docs.python.org/3/glossary.html#term-iterable)
- [Functions on iterables](https://docs.python.org/3/howto/functional.html#built-in-functions)
- [enumerate](https://docs.python.org/3/library/functions.html#enumerate)

# Pandas Data frame
- Pandas is a Python library used for working with data sets.
- It has functions for analyzing, cleaning, exploring, and manipulating data.
- source code for pandas is  https://github.com/pandas-dev/pandas

# pandas is a python liberary, so it need to be install before use
- pip install pandas (python independent environment)
- conda install pandas (cond environment)

In [251]:
import pandas as pd

# dictinary
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'ratings': [3, 7, 2]
}

# dictinary to dataframe
myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  ratings
0    BMW        3
1  Volvo        7
2   Ford        2

In [252]:
list1=["BMW", "Volvo", "Ford"]
list2=[3,7,2,5]
df=pd.DataFrame([list1,list2])

In [256]:
import numpy as np
arr1=np.array([2,3,4,5])
arr2=np.array(['ram','shyam','hari'])
df=pd.DataFrame([arr1,arr2])

# pandas dataframe and series
- A Pandas Series is like a column in a table.
- It is a one-dimensional array holding data of any type.

In [258]:
a = [1, 7, 2]
series = pd.Series(a, index=['a','b','c'])
print(series)

a    1
b    7
c    2
dtype: int64

# pandas dataframe basics
- create data frame from array, list, dictinary
- create data frame form file (csv, excel, sql) - this one is mostly used
- list the column names
- list first five rows of data frame (df.head())
- and so on

In [259]:
myvar.columns

Index(['cars', 'ratings'], dtype='object')

In [260]:
myvar['cars']

0      BMW
1    Volvo
2     Ford
Name: cars, dtype: object

In [49]:
# key value object as series
calories = {"day1": 420, "day2": 380, "day3": 390}

mydiet = pd.Series(calories)

print(mydiet)

day1    420
day2    380
day3    390
dtype: int64

In [53]:
# data frame is a table with row and column, each column has name and each row has index
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [54]:
# accessing data frame- by row
df.loc[0]

calories    420
duration     50
Name: 0, dtype: int64

In [55]:
# accessing data frame - by column
df[df.columns[0]]

0    420
1    380
2    390
Name: calories, dtype: int64

In [56]:
# name of columns
df.columns

Index(['calories', 'duration'], dtype='object')

In [60]:
# accessing a multiple rows
df.loc[[0,1]]

   calories  duration
0       420        50
1       380        40

## Official Documentation
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [ ]:
# reading data from file- CSV files